---
import { Container } from "../components/Container";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Web">
  <section class="flex flex-col items-center justify-center h-screen">
    <Container id="container">
      <h2 class="text-4xl">PRUEBAS</h2>

      <p class="flex flex-col">
        <span id="name">Nombre: </span>
        <span id="token">Token: </span>
      </p>

      <a
        id="login"
        class="min-w-48 p-3 border-[1px] rounded-xl border-gray-500 text-center"
        href="http://localhost:3000/login">Login</a
      >
      <button
        id="policy"
        class="min-w-48 p-3 border-[1px] rounded-xl border-gray-500 text-center"
        >Obtener pólizas</button
      >
    </Container>
  </section>
</Layout>

<script>
  import { getPolicyByRut } from "../services/getPolicyByRut";

  const SSO_NEXT = import.meta.env.PUBLIC_SSO_NEXT;

  document.addEventListener("DOMContentLoaded", async () => {
    const container = document.getElementById("container");
    const loginButton = document.getElementById("login");
    const policyButton = document.getElementById("policy");
    const nameText = document.getElementById("name");
    const tokenText = document.getElementById("token");

    const userDataCookie = decodeURIComponent(getCookie("userData") ?? "");

    if (userDataCookie !== "") {
      const { name: userName, token: userToken } = JSON.parse(userDataCookie);
      nameText && (nameText.innerHTML = `Nombre: ${userName}`);
      tokenText && (tokenText.innerHTML = `Token: ${userToken}`);

      // Confetti
      const JSConfetti = await import("js-confetti").then(
        (module) => module.default
      );
      const jsConfetti = new JSConfetti();
      jsConfetti.addConfetti();
    } else {
      nameText && (nameText.innerHTML = "Nombre: ");
      tokenText && (tokenText.innerHTML = "Token: ");
    }

    loginButton?.addEventListener("click", (e) => {
      e.preventDefault();
      if (typeof window !== "undefined") {
        window.location.href = SSO_NEXT;
      }
    });

    policyButton?.addEventListener("click", async () => {
      const elementId = "error-message";
      const harcodeRut = "17943944-1";
      const previousNode = document.getElementById(elementId);

      if (userDataCookie === "") {
        if (previousNode) previousNode.remove();
        container && setError(elementId, container, "Verifique su identidad");
        return;
      }

      getPolicyByRut(harcodeRut)
        .then(async (response) => {
          console.log(response);
          if (previousNode) previousNode.remove();
        })
        .catch((error: any) => {
          if (!error) return;
          if (previousNode) previousNode.remove();

          container &&
            setError(
              elementId,
              container,
              "Hubo un error al buscar las pólizas"
            );
        });
    });
  });

  function setError(elementId: string, element: HTMLElement, message: string) {
    const p = document.createElement("p");
    p.id = elementId;
    p.style.color = "red";
    p.innerHTML = message;
    p.style.textAlign = "center";

    element && element.appendChild(p);
  }

  function getCookie(name: string) {
    let value = `; ${document.cookie}`;
    let parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop()?.split(";").shift();
  }
</script>
